*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:'Outfit', Times, serif;
    background-color: hsl(217, 54%, 11%);
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.nft {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    height: 100vh;
}

.nft-container {
    width: 270px;
    height: 450px;
    background-color: hsl(216, 50%, 16%);
    padding: 1em;
    border-radius: 5px;
    border-radius: 5px;
    /* box-shadow: 4px 4px 10px -6px rgba(0,0,0,0.12); */
    /* box-shadow: 10px 10px 10px -11px #fff; */
    box-shadow: 10px 10px 10px -11px hsl(215deg 51% 70%);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.nft-container:hover {
    box-shadow: 10px 10px 20px -10px hsl(215deg 51% 70%);
    transform: scale(1.05);
}

.preview {
    height: 240px;
    /* margin-bottom: 1em; */
}

.preview img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.details {
    border: none;
    border-bottom: 1px solid hsl(215, 32%, 27%);
    padding: 1em 0;
}

.details .title {
    font-size: 0.85em;
    font-weight: bolder;
    margin-bottom: 1em;
}

.details .info {
    font-size: 0.65em;
    margin-bottom: 1em;
    width: 100%;
    color: hsl(215, 51%, 70%);
    letter-spacing: 0.85px;
}

.pricing {
    display: flex;
    justify-content: space-between;
    font-size: 0.65em;
}

.pricing .time-left {
    color: hsl(215, 51%, 70%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing .time-left span {
    margin-left: 0.5em;
}

.pricing .cost {
    color: hsl(178, 100%, 50%);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing .cost span {
    margin-left: 0.5em;
}

.extra {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    align-items: center;
}

.extra img {
    width: 30px;
    height: 30px;
}

.extra .copyright {
    font-size: 0.65em;
}

.copyright span:first-of-type {
    color: hsl(178, 100%, 50%);
}
